.Courses {
     background-color: var(--clr-grey-faint);
    
     &-CardsContaners {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-CardsItem {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
}