.News {
    &-Container {
        display: flex;
    }

    &-NewsList {
        flex: 3;
        margin-right: 30px;
    }

    &-NewsSide {
        flex: 1;
    }

    &-SearchCard {
        margin-bottom: 30px;
    }
}