$gallery-slider-width: 100vw;

.BannerCarousel {
    display: flex;
    height: inherit;
    overflow: hidden;

    &-Slider {
        position: relative;
        overflow: hidden;
        width: $gallery-slider-width;
        height: var(--banner-height);
    }

    &-ImageSliderWrapper {
        width: calc(var(--gallery-items-length) * $gallery-slider-width);
        display: flex;
        transform: translateX(calc(var(--gallery-slider-x-position) * $gallery-slider-width * -1));
        transition: all 1000ms ease;
    }

    &-ImageSlider {
        position: relative;
        overflow: hidden;
        width: $gallery-slider-width;
        height: var(--banner-height);
    }

    &-ImageSlide {
        width: $gallery-slider-width;
        height: var(--banner-height);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-Chevrons {
        display: flex;
        display: none;
    }

    &-Chevron {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--clr-primary);
        cursor: pointer;
        z-index: var(--overlayZIndex);

        &_Left {
            position: absolute;
            left: 20px;
            transform: rotate(180deg);
            margin-right: var(--space-sm);
        }

        &:hover {
            opacity: 0.5;
        }
    }
}
