.StudentSideBar {
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    /** new ***/
    box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    /** new **/

    &-LinksContainer,
    &-LogoutContainer {
        color: var(--clr-white);
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    &-Top,
    &-Center,
    &-Bottom {
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
    
    &-Top {
        display: flex;
        align-items: center;
        padding: 24px 0;
    }

    &-TopImage {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 0.625rem 0 1rem;
    }

    &-TopImg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &-TopTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-TopText {
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.02857em;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }

    &-Divider {
        width: 100%;

        /** new **/
        height: 0.0625rem;
        margin-bottom: 1rem;
        opacity: 0.25;
        background-color: transparent;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
        /** new */
    
    }
    
    &-Logout,
    &-List {
        list-style: none;
        padding: 0;
        width: 100%;
    }
    
    &-LogoutItem,
    &-ListItem {
        // padding: 10px 0;
        // margin: 4px 0;
        cursor: pointer;
        color: var(--clr-text-medium);

        /** new **/
        color: rgb(255, 255, 255);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 0.5rem 0.625rem;
        margin: 0.09375rem 1rem;
        border-radius: 0.375rem;
        /*new*/

        &_Active {
            background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
            box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
        }

        &:hover {
            background-color: #666;
        }
    }

    &-ListItemIconContainer {
        min-width: 2rem;
        min-height: 2rem;
        border-radius: 0.375rem;
        display: grid;
        place-items: center;
        transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &-LogoutItemIcon,
    &-ListItemIcon {
        /** new **/
        width: 20px;
        height: 20px;
        overflow: hidden;
        display: inline-block;
        /** new **/
    }

    &-ListText {
        font-size: 14px;
        text-transform: capitalize;

        flex: 1 1 auto;
        min-width: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0.625rem;
    }

    &-LogoutItemIcon {
        width: 20px;
        padding: 0 5px;
        object-fit: contain;
    }

    &-LogoutItem {
        justify-content: center;
        align-items: center;
        transition: all 150ms ease-in 0s;
        background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
        box-shadow: rgb(26 115 232 / 15%) 0rem 0.1875rem 0.1875rem 0rem, rgb(26 115 232 / 20%) 0rem 0.1875rem 0.0625rem -0.125rem, rgb(26 115 232 / 15%) 0rem 0.0625rem 0.3125rem 0rem;
        background-position-x: 25% !important;
    }

    &-LogoutText {
        font-size: 11px;
        font-weight: 600;
    }
    
    // @media only screen and (max-width: 40em) {
    //     width: 60px;

    //     &-ListItem {
    //         text-align: center;
    //     }

    //     &-Brand,
    //     &-ListText,
    //     &-Center {
    //         display: none;
    //     }
    // }
}