:root {
    --header-height: 80px;
}

$header-background-color: var(--clr-white);

.Header {
    height: var(--header-height);
    background-color: $header-background-color;
    width: 100%;
    z-index: 50;

    &-Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: var(--header-height);
    }
    
    &-ToggleButton {
        display: none;
    }

    /** testing 1 **/
    // &-Logo {
    //     opacity: 0;
    //     animation: LogoMoving 1s ease-in 1s forwards;

    //     @keyframes LogoMoving {
    //         0% {
    //             transform: translateX(-100%);
    //         }
    //         100% {
    //             opacity: 1;
    //         }
    //     }
    // }
    /**end of testing 1 **/

    &-Navigation {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        
        /**end of testing 2 **/
        // opacity: 0;
        // animation: NavigationMoving 2s ease-in 1.5s forwards;

        // @keyframes NavigationMoving {
        //     from {
        //         transform: translateX(100%);
        //     }
        //     to {
        //         opacity: 1;
        //     }
        // }
        /**end of testing 2 **/
    }

    &-MenuItem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--header-height);
    }

    &-Anchor {
        position: relative;
        padding: 0 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: var(--ff-primary);
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--clr-primary);
        height: var(--header-height);

        &::after {
            position: absolute;
            content: '';
            width: 0%;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: var(--clr-secondary);
            transition: all 0.3s ease-in;
        }

        &:hover {
            color: var(--clr-secondary);
        }

        &:hover::after {
            width: 100%;
        }

        &_Active {
            color: var(--clr-secondary);
        }
    }

    @media only screen and (max-width: 40em)  {
        &-Navigation {
            position: fixed;
            flex-direction: column;
            z-index: 1000;
            inset: 0 0 0 30%;
            padding: min(30vh, 10rem) 2rem;
            transform: translateX(var(--transform-header));
            transition: transform 250ms ease-out;
            background-color: hsl(0, 0%, 100%, 0.1);
            backdrop-filter: blur(1rem);
        }

        &-ToggleButton {
            display: block;
            position: absolute;
            right: 2rem;
            z-index: 9000;
            width: 2rem;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
        }

        &-MenuIcon {
            width: 20px;
            height: 20px;
            object-fit: contain;
        }

        &-MenuItem {
            border-bottom: none;
    
            &_Active {
                border-bottom: none;
            }
        }
    }
}
