$image-slider-width: 300px;
$image-slider-height: 350px;

.FeaturedCourses {
     background-color: var(--clr-grey-faint);

     &-Header {
          display: flex;
          justify-content: space-between;
          padding: var(--space-xxl) 0;
     }

     &-Title {
          font-size: var(--fs-xl);
          font-weight: 600;
          color: var(--clr-primary);
     }

     &-Chevrons {
          display: flex;
     }

     &-Chevron {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background-color: var(--clr-secondary);
          cursor: pointer;
  
          &_Left {
              transform: rotate(180deg);
              margin-right: var(--space-sm);
          }

          &_Disabled {
               background-color: var(--clr-grey-light);
               cursor: not-allowed;
          }
     }

     
     &-ImageSlider {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: $image-slider-height;
     }

     &-ImageSliderWrapper {
          display: flex;
          width: calc($image-slider-width * var(--courses-items-number));
          transform: translateX(calc(var(--image-slider-x-position) * $image-slider-width * -1));
          transition: all 500ms ease;
     }

     &-ImageSlide {
          width: $image-slider-width;
          height: $image-slider-height;
          background-color: var(--clr-white);
          margin-right: 20px;
     }

     &-ItemSlideContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
     }

     &-ItemImage {
          width: 100%;
          height: calc($image-slider-height / 2);
          background-color: var(--clr-primary-weak);
          display: flex;
          align-items: center;
          justify-content: center;
     }

    &-ItemImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
     }

     &-ItemInfo {
          display: flex;
          flex-direction: column;
          padding: var(--space-md) var(--space-md) 0 var(--space-md);
     }

     &-ItemName {
          text-transform: capitalize;
          font-weight: 500;
          font-size: var(--fs-lg);
          color: var(--clr-primary);
          font-family: var(--ff-tertiary);
     }

     &-ItemText {
          padding: var(--space-md) 0;
          color: #666;
     }

     &-ItemPeriod {
          display: flex;
          justify-content: space-between;
          padding: 0 var(--space-md) var(--space-md) var(--space-md);
          width: calc(100% - var(--space-md) * 2);
     }

     &-ItemPeriodContent {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-size: 14px;
          color: #333;
          font-weight: 600;
     }

     &-ItemPeriodClasses {
          padding: 0 20px;
          border-left: 1px solid #888;
          border-right: 1px solid #888;
     }
}