.StudentDashboard {
    background-color: var(--clr-grey-faint);
    
    &-Components {
        display: flex;
    }

    &-Main {
        width: 100%;
        margin: 2rem 1rem;
    }

    &-OutlineMain {
        width: 100%;
        position: relative;
        margin-top: 70px;
    }

    &-OutlineHeader {
        background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));;
        padding: 24px 16px;
        color: var(--clr-white);
        font-weight: 600;
        font-size: 14px;
        border-radius: 0.5rem;
        position: absolute;
        top: -40px;
        left: 1rem;
        right: 1rem;
        box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(0 187 212 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
    }

    &-OutlineHeading {
        line-height: 1.625;
        font-weight: 700;
        letter-spacing: 0.0075em;
        opacity: 1;
        color: var(--clr-white);
    }

    &-OutlineContent {
        margin-top: 48px;
        padding: 48px 0 10px 0;
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: var(--clr-white);
        border-radius: 0.75rem;
        box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
    }

    &-Table {
        border-collapse: collapse;
        width: 100%;
    }
      
    &-Tr {
        // display: flex;

        border: none;
    }

    

    &-Th {
        // width: 45%;
        padding: 12px 24px;
        color: rgb(52, 71, 103);
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
        // display: flex;
        // justify-content: flex-start;
        text-align: left;
    }

    &-ThHeading {
        opacity: 0.7;
        color: rgb(123, 128, 154);
        font-size: 0.65rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &-ThOther  {
        // display: flex;
        // justify-content: flex-start;
        // width: 150px;
        text-align: left;
        padding: 12px 24px;
        color: rgb(52, 71, 103);
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-TrImageContentContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-TrImageContent {
        display: inline-block;
        width: max-content;
        vertical-align: middle;
    }

    &-TrImageContentSplit {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 1;
        // color: rgb(52, 71, 103);
    }
 
    &-TrImage {
        // width: 30px;
        // height: 30px;
        border-radius: 50%;
        // margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        // font-family: Roboto, Helvetica, Arial, sans-serif;
        // line-height: 1;
        // border-radius: 50%;
        // overflow: hidden;
        // user-select: none;
        transition: all 200ms ease-in-out 0s;
        // background: transparent;
        // color: rgb(255, 255, 255);
        // font-weight: 400;
        width: 2.25rem;
        height: 2.25rem;
        // font-size: 0.875rem;
    }

    &-TrImg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &-TrTextContainer {
        margin-left: 16px;
        // line-height: 1;
        // color: rgb(52, 71, 103);
    }

    &-TrFullName {
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.02857em;
        display: block;
        opacity: 1;
        color: rgb(52, 71, 103);
        font-weight: 600;
        text-transform: capitalize;
    }

    &-TrText {
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 1.25;
        letter-spacing: 0.03333em;
        opacity: 1;
        color: rgb(52, 71, 103);
    }

    &-ModuleContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-ModuleContent {
        display: inline-block;
        width: max-content;
        vertical-align: middle;
    }

    &-ModuleName {
        font-size: 0.75rem;
        line-height: 1.25;
        letter-spacing: 0.03333em;
        display: block;
        color: rgb(123, 128, 154);
        font-weight: 600;
        text-transform: capitalize;
    }

    &-ModuleCode {
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 1.25;
        letter-spacing: 0.03333em;
        opacity: 1;
        color: rgb(52, 71, 103);
    }

    &-Status { 
        // text-align: center;
        padding: 12px 24px;
        // color: rgb(52, 71, 103);
        // font-size: 0.875rem;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-StatusOnline,
    &-StatusOffline {
        height: auto;
        padding: 0.55em 0.9em;
        font-size: 0.5625rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        border-radius: 0.375rem;
        color: rgb(255, 255, 255);
        width: fit-content;
        // margin-left: 0.5rem;
    }

    &-StatusOnline {
        background: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71));
    }

    &-StatusOffline {
        background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    }


    &-StartDateContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-StartDate {
        color: rgb(123, 128, 154);
        font-size: 0.875rem;
    }

    &-EditContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-Edit {
        font-size: 0.75rem;
        line-height: 1.25;
        letter-spacing: 0.03333em;
        color: rgb(123, 128, 154);
        font-weight: 600;
    }

    &-AssignmentContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-Assignment {
        font-size: 0.875rem;
        letter-spacing: 0.02857em;
        line-height: 1;
        text-decoration: none;
        color: rgb(52, 71, 103);
        font-weight: 600;
        text-transform: capitalize;
    }

    &-MarkContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-MarkContent {
        display: flex;
        align-items: center;
    }

    &-Mark {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.25;
        letter-spacing: 0.03333em;
        color: rgb(123, 128, 154);
        margin-right: 5px;
    }

    &-MarkProgress {
        position: relative;
        width: 9rem;
        height: 0.375rem;
        border-radius: 0.375rem;
        background-color: rgb(240, 242, 245);;

        &::before {
            width: 100%;
            position: absolute;
            content: '';
            width: 80%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 0.375rem;
            background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
        }
    }

    &-EditProjectContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-ProjectStatusContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-ProjectStatus {
        color: rgb(123, 128, 154);
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.25;
        letter-spacing: 0.03333em;
    }

    &-EditContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-EditProject {
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.02857em;
        opacity: 1;
        color: rgb(123, 128, 154);
        font-weight: 600;
    }

    &-ModuleContainer {
        padding: 12px 24px;
        border-bottom: 0.0625rem solid rgb(240, 242, 245);
    }

    &-Module {
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.02857em;
        opacity: 1;
        color: rgb(123, 128, 154);
        font-weight: 600;
    }
}
