.Testimonials {
     background-color: var(--clr-white);
     padding: var(--space-xxxl) 0;

     &-Title {
          font-size: var(--fs-xl);
          font-weight: 600;
          color: var(--clr-primary);
          text-transform: capitalize;
          padding-bottom: 80px;
     }
}