$card-width: 100%;
$image-height: 400px;

.NewsCard {
     width: $card-width;

     &-CardImage {
          width: 100%;
          height: $image-height;
          position: relative;
     }

    &-CardImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
     }

     &-Calendar {
          width: 120px;
          height: 120px;
          position: absolute;
          bottom: 0;
          left: 0;

          font-weight: 600;
          font-size: var(--fs-lg);
     }

     &-CalendarTop {
          height: 50%;
          background-color: var(--clr-primary);
          color: var(--clr-white);
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--clr-white);
     }

     &-CalendarBottom {
          height: 50%;
          background-color: var(--clr-secondary);
          display: flex;
          justify-content: center;
          align-items: center;
     }

     &-Content {
          color: #333;
          font-weight: 500;
     }

     &-Divider {
          width: 60px;
          height: 4px;
          margin: var(--space-xl) 0;
          background-color: var(--clr-secondary);
     }

     &-Title {
          font-size: var(--fs-xl);
          font-weight: 600;
          color: var(--clr-primary);
          margin: var(--space-xl) 0;
          text-transform: uppercase;
     }

     &-Metadata,
     &-Meta,
     &-MetaIconContainer {
          display: flex;
          align-items: center;
     }

     &-Meta {
          margin-right: var(--space-md);
     }

     &-MetaIcon {
          width: 20px;
          object-fit: contain;
          margin-right: 5px;
     }

     &-MetaBlack {
          font-weight: 500;
          color: black;
          margin-right: 3px;
     }

     &-MetaValue {
          text-transform: capitalize;
          color: var(--clr-text-medium);
          font-weight: 500;
     }

     &-ButtonContainer {
          margin: var(--space-xxl) 0 var(--space-xxxl);
      }
  
      &-Button {
          box-shadow: var(--box-shadow);
  
          &:hover {
              filter: opacity(0.5);
          }
     }
}